* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f6fa;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 14px;
    color: #666;
    margin: 0 auto;
}

.search-box {
    text-align: center;
    margin-bottom: 30px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid#ccc;
    border-radius: 8px;
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;

}

.product {
    background-color: beige;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-info h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-info .price {
    font-weight: bold;
    font-size: 14px;
}

.label {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
    background-color: rgb(201, 25, 201);
}